@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: 'Roboto Slab', serif;
}

/*  шапка  */
header {
    background-color: rgb(34, 34, 34);
    padding-top: 40px;
    padding-bottom: 20px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.headerInner {
    display: flex;
    justify-content: space-between;
    padding:0 10%;
}

.logo{
    width: 300px;
    height: 103px;
    
}

.name {
    font-size: 24px;
    color: red;
    font-weight: 700;
}

nav {
    width: 40%;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
    font-size: larger;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
    color: red;
}

a:active {
    font-weight: 700;
    font-size: 18px;
}

/*  main  */
.game {
    width: 100%;
    height: 100vh;
    background: url(images/2539c900-5483-4750-9c65-3a9543120500.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    
}

p{
    font-size: large;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px;
}

.pCharachters{
    font-size: large;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 500px;
    margin: 10px;
}

.button{
 width: 200px;
 height: 80px;
 background-color: rgb(34, 34, 34);
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 20px;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.link {
    font-size: 18px;
}

.text {
    width: 100wv;
    height: 40vh;
    background-color: rgb(34, 34, 34);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie {
    width: 100%;
    height: 100vh;
    background: url(images/RDO.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-size: cover;
}
.rdrOne {
    width: 100%;
    height: 100vh;
    background: url(images/rdr1.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-size: cover;
}


/*  подвал  */
.footerInner {
    padding:50px 10%;
    color: #fff;
}

main{
    background-color: rgb(61, 61, 61);
    
    
}
.characterBlock {
    padding: 10px;            
    display: flex;
    margin:  auto;
    background-color: rgb(41, 41, 41);
    width: 1050px;

}
.stylelogin{
    display: flex;
    width: 100vw;
    height: calc(100vh - 10em);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.galery{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: rgb(41, 41, 41);
    padding: 10px;
    width: 60%;
    height: 50%;
    margin:  auto;
}

.picture1{
width: 100%;
border-radius: 25px;
margin-top: 40px;
margin-bottom: 40px;

}
form{
    display: flex;
    flex-direction: column;
}
input{
    border-color: rgb(255, 83, 83);
    padding: 1em;
    margin: 1.5em;
    border-radius: 25px;
}
.btn{
    padding: 1em;
    margin: 1.5em;
    color: red;
    border-radius: 25px;
    background-color: rgb(58, 58, 58);
}
@media (max-width: 650px) {
    nav{
        display: none;
    }
    .game{
        background: url(images/rdr2vertical.jpg);
    }
    .rdrOne{
        background: url(images/rdr1vertical.jpg);
    }
    p{
        font-size: small;
    }
    .logo{
        display: none;
    }
    .name{
        font-size: larger;
        margin: auto;
    }
    .characterBlock{
        flex-direction: column;
    }
}


.menu_item {
    margin-right: 1em;
    display: flex;
}

.menu_small_icon {
    display: none;
}

.menu-small {
    display: none;
    height: 2em;
    color: black;
}

.menu_small_item {
    display: none;
}

.stick {
    width: 80%;
    height: 5px;
    background: red;
}

.inner {
    padding: 1em 0 0 0;
    width: 60%;
    height: auto;
}
@media (max-width: 650px) {
    nav{
        display: none;
    }

    .game{
        background: url(images/rdr2vertical.jpg);
    }

    .rdrOne{
        background: url(images/rdr1vertical.jpg);
    }

    p{
        font-size: small;
    }

    .logo{
        display: none;
    }

    .name{
        font-size: larger;
        margin: auto;
    }

    .characterBlock{
        flex-direction: column;
    }

    .menu {
        display: none;
    }

    .menu-small {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 0;
        position: absolute;
        background: rgb(48, 48, 48);
        transform: translateX(-100%);
    }

    .menu_small_item {
        height: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu_small_item:first-child {
        padding-top: calc(50px + 2em);
    }

    .menu_small_icon {
        position: absolute;
        top: 1em;
        left: 1em;
        width: 50px;
        height: 50px;
        display: flex;
        z-index: 1;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .inner {
        padding-top: calc(50px + 2em);
    }

    .inner p {
        margin: 0
    }
}
.profile{
    max-width: 10%;
    max-height: 7%;
}
